## 0-1 Process data

In [1]:
# Import download notbook
%run "0-1-eda-covid-download.ipynb"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  2 1490k    2 32768    0     0  31903      0  0:00:47  0:00:01  0:00:46 31937
 35 1490k   35  528k    0     0   267k      0  0:00:05  0:00:01  0:00:04  267k
 52 1490k   52  779k    0     0   265k      0  0:00:05  0:00:02  0:00:03  265k
 59 1490k   59  891k    0     0   226k      0  0:00:06  0:00:03  0:00:03  226k
 69 1490k   69 1035k    0     0   209k      0  0:00:07  0:00:04  0:00:03  209k
 79 1490k   79 1190k    0     0   199k      0  0:00:07  0:00:05  0:00:02  235k
 86 1490k   86 1286k    0     0   183k      0  0:00:08  0:00:06  0:00:02  151k
 90 1490k   90 1350k    0     0   169k      0  0:00:08  0:00:07  0:00:01  113k
 95 1490k   95 1430k    0     0   160k      0  0:00:09  0:00:08  0:00:01  107k
100 1490k  100 1490k    0     0   156k      0  0:00:09  0:00:09 --:--:--   99k

### Read data

In [2]:
input_covid_file = path.data_raw_dir("time_series_covid19_confirmed_global.csv")

In [3]:
covid_df = pd.read_csv(input_covid_file)
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Columns: 991 entries, Province/State to 10/4/22
dtypes: float64(2), int64(987), object(2)
memory usage: 2.2+ MB

In [4]:
covid_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/25/22,9/26/22,9/27/22,9/28/22,9/29/22,9/30/22,10/1/22,10/2/22,10/3/22,10/4/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,198416,198543,198750,198876,199067,199188,199310,199386,199545,199690
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,331976,331987,332066,332129,332173,332221,332263,332285,332290,332337
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,270641,270649,270654,270662,270668,270673,270676,270679,270682,270690
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,46147,46147,46147,46227,46227,46227,46227,46227,46227,46227
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,103131,103131,103131,103131,103131,103131,103131,103131,103131,103131

In [5]:
processed_df = (
    covid_df
    .select_columns(["Country/Region", "*/*/*"])
    .pivot_longer(
        index="Country/Region",
        names_to="date"
    )
    .transform_column("date", pd.to_datetime)
    .clean_names()
)

processed_df.head()

  country_region       date  value
0    Afghanistan 2020-01-22      0
1        Albania 2020-01-22      0
2        Algeria 2020-01-22      0
3        Andorra 2020-01-22      0
4         Angola 2020-01-22      0

### Save output data

In [6]:
output_covid_file = path.data_processed_dir("time_series_covid19_confirmed_global_processed.csv")

In [7]:
processed_df.to_csv(output_covid_file, index=False)